@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/l/font?kit=dFa_ZfqA86A4lLhf7qRHfxcY8HQ&skey=28f652d19e80fbde&v=v9) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/l/font?kit=dFa6ZfqA86A4lLhf5h9iajo6_V6LVlA&skey=cd26fb9258467dcb&v=v9) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

body{
	margin: 0;
	right: 0;
	text-align: center;
	background-color: black;
    }

h1, h3{
	color: white;
	font-family: "Verdana", sans-serif;
}

h1{
	font-weight: normal;
	font-size: 50px;
}

a{
	color: aquamarine;
	font-size: 16px;
	font-family: "Verdana", sans-serif;
}

h3{
	font-weight: 300; /* cia paziuret*/
	font-size: 42px;
}

h5{
	font-family: "Verdana", sans-serif;
	font-size: 21px;
	color: gray;
	font-weight: normal;
}

footer h5{
	text-align: right;
	color: gray;
}

.logo img{
	padding-top: 20px;
}

.iphone{
	padding-top: 20px;
}

@media only screen and (max-width:480px){
	.iphone video{
		width: 50%;
	}

	.foto img{
		width: 80%;
	}

	h1{
		font-size: 42px;
	}

	h3{
		font-size: 32px;
	}

}